.repeatableComponent {
    column-gap: 1rem;
}

.amountLevelsWrap {
    margin-top: 10px;
}

.repeatableControl {
    margin-bottom: 0 !important;
}

.removeAmountLevel {
    padding-left:4px !important;
    padding-right:4px !important;
}

.repeatableAddButton {
    margin-top: 10px;
    margin-bottom: 10px;
}
