/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.dfb-media-uploader {
  width: 200px;
}

.dfb-replace-image-btn {
  margin-right: 10px;
}

.dfb-background-btns {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dfb-label {
  margin: 0 0 10px;
  display: block;
}

.dfb-help-text {
  font-size: 12px;
  font-style: normal;
  color: rgb(117, 117, 117);
}

.dfb-color-picker {
  margin: 0 0 10px;
  .components-circular-option-picker .components-circular-option-picker__swatches {
	gap: 8px;
  }
}
